body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}
html{overflow:-moz-scrollbars-vertical;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol,li{list-style:none;}
a{text-decoration:none;color:blue;}
a:hover{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
#page,#header,#content,#footer{margin:0px auto;}
#page,.w950{width:960px;}
#page_left{float:left;width:180px;margin-top:5px;word-break:break-all;word-wrap:break-word}
#page_right{float:right;width:770px;margin-top:5px;overflow:hidden;}

.c{clear:both;}
.b{font-weight:bold;}
.fr{float:right;}
.fl{float:left;}
.none{display:none;}
.of_hidden{overflow:hidden;}
.mb5{margin-bottom:5px;}
.mt5{margin-top:5px;}
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}
.pos_rl{position:relative;}
.pos_ab{position:absolute;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}

.font_1{font-weight:bold;font-size:12px;}
.font_2{color:#999999;font-size:11px;}
.font_3{}
.font_4{}
.font_5{}
.font_6{}

span.price{color:#CC0000;font-size:14px;font-weight:bold;line-height:14px;padding-left:2px;}
span.volume{color:#CEAA00;font-weight:bold;}
/*----site_nav-----*/
#site_nav{position: relative;padding: 0;height: 23px;overflow: hidden;line-height:23px;background-position:0 0;background-repeat:repeat-x;margin-bottom:0px;background:url(img/site_nav_bg.png) repeat-x 0 0;}
#site_nav a{color:#666666;}
#site_nav .about{float:left;height: 23px;}
#site_nav .quick-link{float:right;height: 23px;}
#site_nav .quick-link ul,#site_nav .about ul{overflow: hidden;margin-top:4px;}
#site_nav .quick-link li,#site_nav .about li{float: left;margin: 0 0 0 -1px;padding: 0 10px;line-height: 14px;height: 14px;border-left:1px solid #CCCCCC;}
#site_nav .site_nav_box{width:950px;margin:0px auto;}
#site_nav .orange{color: #FF720C;}
/*----site_nav-----*/


/*-----------head nav-----------*/
#head_nav a{color:#FB3C67;}
.head_menu{margin-top:14px;}
.head_menu .menu-bd{height:31px;}
.head_menu ul.links-way{float:left;overflow:hidden;border:1px solid #FFCAE4;border-right:none;}
.head_menu ul.links-way li,.head_menu ul.entrance li{display:inline;float:left;height:31px;line-height:31px;}
.head_menu ul.links-way li{font-family:Arial!important;width:90px;text-align:center;border-right:1px solid #FFCAE4;}
.head_menu ul.links-way li a{display:inline-block;}
.head_menu ul.links-way li a:hover{text-decoration:none;}
.head_menu ul.links-way li a span{display:inline-block;cursor:pointer;padding:0 10px 0 10px;text-align:center;font-size:14px;font-weight:bold;}
.head_menu ul.links-way li.current{background-color:#fb3c67;}
.head_menu ul.links-way li.current a span{color:#fff;}
.head_menu ul.entrance{float:right;font-family:Arial!important;}
.head_menu ul.entrance li{position:relative;padding:0 8px;}
.head_menu ul.entrance li.tstar-login{background-color:#8d8d8d;}
.head_menu ul.entrance li.tstar-login a{display:inline-block;padding-left:5px;}
.head_menu ul.entrance li.tstar-login a span{display:inline-block;cursor:pointer;padding:0 5px 0 0;font-family:Arial;}
.head_menu ul.entrance li.tstar-join{padding-left:33px;background-color:#666;}
.head_menu ul.entrance li a{color:#fff!important;}
.head_menu ul.entrance li a:hover{color:#fff!important;text-decoration:none;}
.head_menu ul.entrance li b{position:absolute;top:8px;left:10px;display:block;width:17px;height:20px;background-position:-124px -148px;}
.head_submenu{height:32px;background-color:#FFF7FA;border:1px solid #FFCAE4;margin-top:-1px;}
.head_submenu ul.sub-links-way{float:left;padding:6px 0;}
.head_submenu ul.sub-links-way li,.head_submenu ul.tstar-flow-info li{display:inline;float:left;font-size:12px;}
.head_submenu ul.sub-links-way li{position:relative;padding:0 8px;line-height:1.6;font-family:Arial;}
.head_submenu ul.sub-links-way li s{position:absolute;top:5px;right:0;display:block;overflow:hidden;width:1px;height:12px;background-color:#ccc;}
.head_submenu ul.tstar-flow-info{float:right;padding:6px;}
.head_submenu a.current{color:#FB3C67;font-weight:bold;}
/*--------head nav--------*/

/*--head--*/
.head_menu ul.oe_menu{
	
}
.head_menu .head_logo{
	float:left;
}

.head_menu .head_top{
	padding-left:250px;
	padding-top:25px;
}
.head_menu .head_top .h_service{
 background:url('img/service6.png') no-repeat;
 height:37px;
 margin:-33px 0px 5px 215px;
 _margin-bottom:-37px;
 _float:right;
 _width:500px;
}
.head_menu ul.oe_menu li{
	zoom:1;
}

.head_menu ul.oe_menu div li{
	padding-bottom:2px;
	float:left;
	border:none;
	line-height:20px;
	height:20px;
	width:110px;
	text-align:left;
}
.head_menu ul.oe_menu > div > li  > a{
	display:block;
	background-color:#101010;
	color:#aaa;
	text-decoration:none;
	font-weight:bold;
	font-size:12px;
	width:90px;
	height:80px;
	padding:10px;
	margin:1px;
	text-shadow:0px 0px 1px #000;
	opacity:0.8;
}
.head_menu ul.oe_menu > div > li  > a:hover,
ul.oe_menu > div > li.selected > a{
	background:#fff;
	color:#101010;
	opacity:1.0;
}

.head_menu ul.oe_menu div{
	position:absolute;
	margin-top:-1px;
	margin-left:-190px;
	_margin-left:-230px;
	*margin-left:-230px;
	background:#fff;
	width:480px;
	height:210px;
	padding:5px;
	display:none;
	border:2px solid #ddd;
	clear:both;
}
.head_menu ul.oe_menu div ul li a{
	text-decoration:none;
	color:#222;
	display:block;
	font-size:12px;
	height:20px;
	overflow:hidden;
}
.head_menu ul.oe_menu div ul.oe_full{
	width:100%;
}
.head_menu ul.oe_menu div ul li a:hover{
	background:#000;
	color:#fff;
}
.head_menu ul.oe_menu li ul{
	list-style:none;
	float:left;
	width: 110px;
	margin-right:10px;
}
.head_menu ul.oe_menu div ul li.oe_heading{
	font-weight:bold;
	font-size:17px;
	margin-bottom:1px;
	padding-bottom:6px;
	border-bottom:1px solid #ddd;
}
/*--head--*/

/*head search*/
.head_search{float:left;height:30px;margin-left:10px;margin-top:4px;}
.head_search .text{height:22px;font-size:14px;border:1px solid #FED24D;padding-left:5px;}
.submenu_box {float:right;margin-right:10px;}
.search_button{border:1px solid #000;margin-left:1px;width:60px;font-weight:900;font-size:14px;cursor:pointer;color:#000;background:#fed24d;line-height:24px;height:24px;line-height:20px\9;overflow:hidden;}
.search_button s{background:url(img/head_search.gif) no-repeat;width:53px;height:20px;}
/*head search*/

/*------------------ selectDark -----------------*/
.cat_select{
width:90px;
float:left;
}
.selectDark{
		border:1px solid #FED24D;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		background-color:#ffffff;
		}

.selectDark .passiveSelect,.selectDark .activeSelect{
		height:22px;
		line-height:2em;
		display:block;
		cursor:pointer;	
		padding-left:5px;
		padding-right:10px;
		margin-right:0px;
		}
		
.selectDark .passiveSelect{
		color:#fff;
		}
		
.selectDark .activeSelect{
		background:url("img/darkActive.jpg") no-repeat top right;
		color:#000000;
		overflow:hidden;
		}
		
.selectDark ul{
		padding:0;
		margin:0;
		background:#525252;
		list-style:none;
		max-height:200px;
		overflow-x: hidden;
		overflow-y: auto;
		cursor:pointer;	
		width:130px;
		top:23px;
		margin-left:-1px;
		}
		
.selectDark li{
		padding:0;
		margin:0;
		font-weight:normal;
		padding:2px 0 2px 12px;
		color:#aeaeae;
		}
		
.selectDark .first{
		padding-top:10px;
		background:url("img/darkFirst.jpg") no-repeat top left;
		}
		
.selectDark .last{
		padding-bottom:10px;
		background:url("img/darkLast.jpg") no-repeat bottom left;
		}
		
.selectDark li:hover{
		color:#00aeef;
		}
		
.selectDark .selected{
		color:#fff;
		}
/*------------------ selectDark -----------------*/

/*-----------------------arrows-------------------------*/
.arrows,.open,.close,.delete,.crumbs,.up_arrow{background:url(img/arrows.png) no-repeat;background-color: transparent;}
.open{background-position: -28px -93px;}
.close{background-position: -28px -105px;}
.delete{background-position: 0 -160px;}
.up_arrow{background-position: -1px -213px;display: inline;font-size: 0;height: 8px;margin-left: -262px;position:absolute;width: 20px;margin-top:-14px;}
/*-----------------------arrows-------------------------*/
/*-----------------------icons-------------------------*/
.zhe,.xyka,.huodao,.weixiu,.shan,.zhen,.rushi,.zhengpin,.sevenday{background:url(img/icons.png) no-repeat;height:20px;padding-left: 20px;}
.sevenday{background-position: -1px -511px;}
.zhengpin{background-position: -1px -474px;}
.rushi{background-position: -1px -491px;}
.zhen{background-position: -1px -531px;}
.shan{background-position: -1px -552px;}
.weixiu{background-position: -1px -571px;}
.huodao{background-position: -3px -605px;}
.xyka{background-position: -3px -589px;margin-top: 2px;}
.zhe{background-position: 2px -1453px}
/*-----------------------icons-------------------------*/

/*--分类列表--*/
.cats_box{border:1px solid #FFCAE4;}
.cats_box .head{background:#FFCAE4;}
.cats_box .head{padding:2px 10px;}
.cats_box .cats_list{}
.cats_box .cats_list li{padding:2px 10px;}
.cats_box .cats_list li.current a{background:#FFCAE4}
/*--分类列表--*/

/*--面包屑--*/
.page_crumbs{margin-bottom:5px;}
.page_crumbs .cbs{float:left;}
.page_crumbs .cbs ul li{float:left;margin-right:-11px;background:url(img/arrows.png) no-repeat right -196px;background-color:transparent;padding-left:3px;padding-right:29px;overflow:hidden;}
.page_crumbs .cbs ul li.last_crumb,.page_crumbs .cbs ul li.first_crumb{background:none;padding-right: 10px;}
.page_crumbs .total{float:right;margin-right:10px;}
/*--面包屑--*/

/*--- star ---*/
.star0,.star1,.star2,.star3,.star4,.star5,.star6,.star7,.star8,.star9,.star10{background:url('img/star.png') no-repeat 0 -161px;  width:61px; height:14px; margin:4px;}
.star0 {background-position:0 -161px;}
.star1 {background-position:0 -145px;}
.star2 {background-position:0 -129px;}
.star3 {background-position:0 -113px;}
.star4 {background-position:0 -97px;}
.star5 {background-position:0 -81px;}
.star6 {background-position:0 -65px;}
.star7 {background-position:0 -49px;}
.star8 {background-position:0 -33px;}
.star9 {background-position:0 -17px;}
.star10 {background-position:0 -1px;}
/*--- star ---*/

.box_head{line-height:28px;border-bottom:solid 1px #666666;}
.box_head h2{font-size:13px;}

/*--shop info--*/
.left_box{border:1px solid #FFCAE4;overflow:hidden;}
.left_box .head{background:#FFCAE4;}
.left_box .head{padding:2px 10px;}
.left_box .info,.left_box .bulletin,.left_box .desc{margin-left:5px;margin-right:5px;overflow:hidden;line-height:20px;}
.left_box .all_content{position: absolute;margin-top:-100px;width: 500px;z-index: 1111;overflow:hidden;padding:5px;}
.left_box .all_content .f{background:#f4efe9 none repeat scroll 0 0;border:1px solid #f7f7f6;display:block;position:relative;}
.left_box .all_content .i{top:-5px;left:-5px;background:#ffffb9 none repeat scroll 0 0;border:1px solid #e9dfd5;font-weight:normal;padding:10px;position:relative;text-align:left;filter:alpha(opacity = 50);}
/*--shop info--*/

/*--product box--*/
.products_box{clear:both;}
.products_box .p_list{overflow:hidden;background:#fff;padding:8px;_width:754px;}
.products_box ul{overflow:hidden;}
.products_box li{float:left;width:162px;margin:10px 10px;margin-left:8px;margin-top:0px;height:260px;padding:3px;border:1px solid #E1E1E1;background:#FFF;color:#666666;text-align:center;overflow:hidden;}
.products_box .pic_box{border:1px solid #FFF;background:#FFF;width:160px;height:;overflow:hidden;}
.products_box .pic_box,.products_box .pic_box a{width:160px;height:160px;*font-size:126px;}
.products_box li div{line-height:18px;overflow:hidden;text-align:left;}
.products_box li div.title{height:37px;}
.products_box li div a{color:#3E3E3E;}
.products_box li div a:hover{color:#FB3C67;}
.products_box .service{position:relative;height:25px;margin-top:5px;}
.products_box li img{vertical-align:middle;}
.products_box .pic_box a{display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-family:Arial;*line-height:1;}
.products_box .pic_box a img{vertical-align:middle;}
/*--product box--*/

/*--product box--*/
.items_box{clear:both;}
.items_box .p_list{overflow:hidden;background:#fff;}
.items_box ul{overflow:hidden;}
.items_box li{float:left;width:162px;margin:10px 0px;margin-top:0px;height:270px;padding:3px;background:#FFF;color:#666666;text-align:center;overflow:hidden;}
.items_box .pic_box{border:1px solid #FFF;background:#FFF;width:160px;height:;overflow:hidden;}
.items_box .pic_box,.items_box .pic_box a{width:160px;height:160px;*font-size:126px;}
.items_box li div{line-height:18px;overflow:hidden;text-align:left;}
.items_box li div.title{height:37px;}
.items_box li div a{color:#3E3E3E;}
.items_box li div a:hover{color:#FB3C67;}
.items_box .service{position:relative;height:25px;margin-top:5px;}
.items_box li img{vertical-align:middle;}
.items_box .pic_box a{display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-family:Arial;*line-height:1;}
.items_box .pic_box a img{vertical-align:middle;}
/*--product box--*/

/*--pagination--*/
.page_box{position:relative;margin-top:8px;clear:both;float:right;}
.page_box .inactivePrev,.page_box .inactiveNext{display:none;}
.page-bottom{margin-top:-12px;}
.page_box a,.page_box .current{float:left;height:20px;line-height:20px;min-width:15px;_min-width:15px;*min-width:15px;padding:0 3px;margin-right:5px;text-align:center;white-space:nowrap;font-size:12px;font-family:Arial,SimSun;}
.page_box a{border:solid 1px #ccc;}
.page_box a:hover{border:solid 1px #F50;text-decoration:none;}
.page_box .prev,.page_box .next{width:auto;font-size:12px;font-family:'\5b8b\4f53';}
.page_box .current{border:1px solid #F50;font-weight:700;color:#F50;background-color:#ffeee5;}
.page-bottom{position:absolute;top:0;right:0;}
/*--pagination--*/

#tip{position:absolute;display:none;top:30px;left:60px;width:200px;border:1px solid #000; background:#fff777; color:#000;padding:5px;text-align:left;}


/*---footer---*/
#footer{border-top:1px solid #D1D7DC;clear:both;margin:10px auto;text-align:center;padding-top:10px;}
#footer .f_links{margin-top:10px;}
#footer .f_links a{margin:0px 4px;}
#footer .copyright{clear:both;margin:15px auto 0;}
/*---footer---*/