<div class="menu-bd">
<ul class="links-way oe_menu" id="oe_menu">
	<?php $root_path = '/';?>
	<li<a title="首页" href="<?php echo $root_path; ?>"><span>首页</span></a></li>
	<li><h2><a title="美容护肤用品" href="<?php echo $root_path; ?>list/cat-1801"><span>美容护肤</span></a></h2></li>
	<li><h2><a title="彩妆香水" href="<?php echo $root_path; ?>list/cat-50010788"><span>彩妆香水</span></a></h2></li>
	<li><h2><a title="产品库" href="<?php echo $root_path; ?>products"><span>产品库</span></a></h2></li>
	<li><h2><a title="店铺" href="<?php echo $root_path; ?>shop"><span>店铺</span></a></h2></li>
	<li class="current"><h2><a title="美丽社区" href="<?php echo $root_path; ?>sns"><span>社区</span></a></li></h2>
</ul>
</div>