.right_box{}
span.H{color: #FF2900 !important;}

.prop_box{border:1px solid #FFCAE4;line-height:24px;}
.prop_box .sub_prop{padding:1px 5px;border-bottom:1px dotted #FFCAE4;margin-bottom:-1px;}
.prop_box .sub_prop .prop_name{float:left;width:90px;margin-left:3px;white-space: nowrap;overflow:hidden;}
.prop_box .sub_prop .prop_list{float:left;width:600px;}
.prop_box .sub_prop .prop_more{float:right;width:40px;;margin-top:4px;padding-left:18px;height:18px;line-height:18px;}

.prop_box ul li{float:left;width:125px;margin-left:20px;overflow:hidden;}
.prop_box ul li a{display: inline-block;margin-left: 0; margin-right: 0;white-space: nowrap;}

.prop_box .selected_prop{border-bottom:1px solid #FFCAE4;background:#FFF7FA;padding-left:8px;}
.prop_box .selected_prop span{float:left;height:15px;line-height:15px;margin:2px 1px;}
.prop_box .selected_prop a{float:left;position:relative;display:inline;height:15px;line-height:15px;margin:2px 5px 2px 0;padding:0 17px 0 3px;border:1px solid #e1e7f5;background:#fff;color:#2953a6;white-space:nowrap;-moz-border-radius:2px;-webkit-border-radius:2px;}
.prop_box .selected_prop a span{background:url(img/arrows.png) no-repeat;background-position: 0 -160px;
height: 13px;line-height: 15px;padding-right: 1px;position: absolute;right: 0;top: -1px;width: 13px;}
.prop_box .selected_prop a:hover{border:1px solid #808080;text-decoration:none;}
.prop_box .selected_prop h5{color: #808080;display: inline;font-weight: normal;line-height: 15px; margin-right: 2px;vertical-align: top;}

.orders_box{margin-top:5px;border-bottom:2px solid #A6A6A6;height: 24px;padding-left: 11px;position: relative;z-index: 40;padding-bottom:1px;}
.orders_box ul li{float:left;margin-right:5px;background:#E5E5E5;}
.orders_box ul li a{height: 25px;line-height: 25px;padding-bottom: 0;padding-left: 13px;padding-right: 12px;padding-top: 0;}
.orders_box ul li.selected {background:#A6A6A6;}
.orders_box ul li.selected a{color: #FFFFFF}

.condition_box{background:#E5E5E5;padding-left:8px;height:24px;}
.condition_box ul{padding-top:3px;}
.condition_box ul li{float:left;margin-right:5px;background:#E5E5E5;}
                           
.show_more {margin: 0;padding: 0;border:1px solid #ffcae4;border-top:2px solid #fff;height: 16px;margin-bottom: 0;margin-left: auto;margin-right: auto;margin-top: -1px;position: relative;width: 107px;}
.show_more a,.show_more a:hover{overflow:hidden;display:block;text-align:center;white-space:nowrap;outline:none;text-decoration:none;height:14px;line-height:14px;position:relative;z-index:1;}

.s_button{border:1px solid #000;margin-left:1px;width:60px;font-weight:900;font-size:12px;cursor:pointer;color:#000;background:#fed24d;line-height:20px;height:20px;line-height:15px\9;overflow:hidden;}
